 <div class="container">
  <form action="/product/newproducto" method="POST" class="mb-5 tm-comment-form">
                                <h2 class="tm-color-primary tm-post-title mb-4">Postear producto</h2>
                                
                                <div class="mb-4">
                                    <input class="form-control" name="nombre" type="text" placeholder="Nombre...">
                                </div>

                                <div class="mb-4">
                                    <textarea class="form-control" name="description" rows="6" placeholder="Descripcion..."></textarea>
                                </div>
                                <div class="mb-4"></div>
                                <input class="form-control"  value= "{{toys.lists_id}}"  name="lists_id" type="text" placeholder="Numero de lista">
                                 </div>
                                <div class="mb-4">
                                    <input class="form-control" name="price" type="number" placeholder="Precio comprado...">
                                </div>


                                <div class="mb-4">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline3" name="setiene" value=0 class="custom-control-input">
                                        <label class="custom-control-label" for="customRadioInline3" style="font-size:large;">Se busca </label>
                                    </div>
    
                                    <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline4" name="setiene" value=1 class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline4" style="font-size:large;">Se tiene</label>
                                    </div>
                                </div>

                                <div class="text-right">
                                    <button class="tm-btn tm-btn-primary tm-btn-small">Publicar</button>                        
                                </div>                                
                            </form>   
 </div>