 <div class="container">
  <form action="" class="mb-5 tm-comment-form">
                                <h2 class="tm-color-primary tm-post-title mb-4">Postear producto</h2>
                                
                                <div class="mb-4">
                                    <input class="form-control" name="nombre" type="text" placeholder="Nombre...">
                                </div>

                                <div class="mb-4">
                                    <textarea class="form-control" name="descripcion" rows="6" placeholder="Descripcion..."></textarea>
                                </div>

                                <div class="mb-4">
                                    <input class="form-control" name="nombre" type="number" placeholder="Precio comprado...">
                                </div>

                                <div class="mb-4">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                                        <label class="custom-file-label" for="customFileLang" style="font-size: medium; border-radius: 0mm; border-color: black; color:rgb(161, 161, 161);">Seleccionar imagen...</label>
                                    </div>
                                </div>

                                <div class="mb-4">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline3" name="customRadioInline3" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadioInline3" style="font-size:large;">Se busca </label>
                                    </div>
    
                                    <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline4" name="customRadioInline4" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline4" style="font-size:large;">Se tiene</label>
                                    </div>
                                </div>

                                <div class="text-right">
                                    <button class="tm-btn tm-btn-primary tm-btn-small">Publicar</button>                        
                                </div>                                
                            </form>   
 </div>