  <div class="container">
 <form action="" class="mb-5 tm-comment-form">
                                <h2 class="tm-color-primary tm-post-title mb-4">Crear lista</h2>
                                <div class="mb-4">
                                    <input class="form-control" name="nombre" type="text" placeholder="Nombre...">
                                </div>
                                <div class="mb-4">
                                    <textarea class="form-control" name="descripcion" rows="6" placeholder="Descripcion..."></textarea>
                                </div>

                                <div class="mb-4">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                                        <label class="custom-control-label" for="customRadioInline1" style="font-size:large;">Pública </label>
                                    </div>
    
                                    <div class="custom-control custom-radio custom-control-inline">
                                    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                                    <label class="custom-control-label" for="customRadioInline2" style="font-size:large;">Privada</label>
                                    </div>
                                </div>

                                <div class="text-right">
                                    <button class="tm-btn tm-btn-primary tm-btn-small">Crear</button>                        
                                </div>                                
                            </form> 
  </div>
                          