<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Story Packed</title>
	<link rel="stylesheet" href="/fontawesome/css/all.min.css">
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>


    <!---------- Search form ---------->
    
    <div class="container-fluid">
        <main class="tm-main">

            <!-- Search form -->
            
            <div class="row tm-row">
                {{>navigation}}
                {{{ body }}}
        </main>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/templatemo-script.js"></script>
</body>
</html>