    <div class="hero-bkg-animated">

        
        <img src="/img/Imgindex/logo4.png" alt="Image" class="img-fluid">

        <div class="container-fluid">
            <div class="card-img-overlay">
                <div class="text-center">
                    <a href="/signup" button type="button" class="btn btn-dark">¡Comienza ahora!</button>
                </div>
            </div>                           
        </div>

    </div>     

